.App {
    text-align: center;
    min-height: 100vh;
    background-color: #282c34;
}

.App-link {
    color: #61dafb;
}

ul li {
    text-align: left;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 54px;
}
